* {margin:0; padding:0;}
html, body {width:100%; height:100%; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:center;}

#salon{
	width:800px;
	height:650px;
	border:0px solid;
	border-color:#CCC;
	margin:0 auto; 
	margin-top:50px;
}
#display{
	margin-left:500px;
	position:absolute;
	width:260px;
	margin-top:10px;
}
#display ul{padding:0px;}
#display ul li{
	border:1px solid;
	display:inline-block;
	padding:10px;
}
#clients_queue,#cashier,#exit{border:1px solid; border-color:#666;}

#clients_queue{
	width:120px;
	height: 500px;
	position: absolute;
	margin-left:590px;
	margin-top:90px;
	text-align:center;
}
#cashier{
	width:150px;
	height:200px;
	position:absolute;
	margin-top:390px;
	margin-left:420px;
}
#cashier img {
	width: 140px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#cashier_img_holder {
	width: 150px;
	float: left;
	position: relative;
	margin-left: 5px;
}
#exit{
	width:150px;
	height:200px;
	position:absolute;
	margin-top:180px;
	margin-left:420px;
}
#exit img {
	width: 140px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#exit img holder{
	width: 150px;
	float: left;
	position: relative;
	margin-left: 5px;
}
.client{
	width: 80px;
	height: 60px;
	font-size: 10px;
	position: relative;
	border: 1px solid;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.place{
	position: absolute;
	width: 400px;
	height: 140px;
	border:1px solid;
}
#bugatti{
	margin-top:150px;
}
#tesla{
	margin-top:300px;
}
#mclaren{
	margin-top:460px;
}
.client_1{background-image:url(images/client_1.png);}
.client_2{background-image:url(images/client_2.png);}
.client_3{background-image:url(images/client_3.png);}
.client_4{background-image:url(images/client_4.png);}
.client_5{background-image:url(images/client_5.png);}
.client_6{background-image:url(images/client_6.png);}
.client_7{background-image:url(images/client_7.png);}
.client_8{background-image:url(images/client_8.png);}
.client_9{background-image:url(images/client_9.png);}
.client_10{background-image:url(images/client_10.png);}

.car img {
	width: 70px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.car {
	width: 92px;
	height: 92px;
	float: left;
	padding: 10px;
	border: 1px solid black;
	margin: 3px;
	position: relative;
}

.ui-dialog {
	background: #EEEEEE;
}

.bg-light {
	background-color: #4f78a3 !important;
}
.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

#app {
	width: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}

#logo {
	width: 500px;
	height: 300px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;


}
.game-button {
	width: 300px;
	height: 30px;
	border: 1px solid black;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
	cursor:pointer;
	background-color: #74FA94;
}
#dialog {
	display: none;
}
#logo img {
	width: 500px;
	height: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align:center;
	cursor:pointer;
}
	

.mcq-choice {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 50px;
	width: 250px;
	border-radius: 20px;
	color: black;
	background-color: palegreen;
	cursor: pointer;
	line-height: 50px;
	border: "3px solid MediumSlateBlue";
}

#source {
	right: 200px;
	position: relative;
}

#send {
	width: 100px;
	height: 30px;
	position:relative;
	
}

.sendbtn {
	left: 340px;
	top: 360px;
	position:relative;
}

#cash {
	width: 300px;
	height: 200px;
}

#exitsign {
	width: 300px;
	height: 200px;
}

#lambo {
	width: 300px;
	height: 200px;
}

#bugatti_car {
	width: 300px;
	height: 200px;
}

#tesla_car {
	width: 300px;
	height: 200px;
}

#mclare {
	width: 300px;
	height: 200px;
}

#client_source1 {
	width: 300px;
	height: 200px;
}

#client_source2 {
	width: 300px;
	height: 200px;
}

#client_source3 {
	width: 300px;
	height: 200px;
}

#about_text1 {
	font-size: 15px;
}

#about_text2 {
	font-size: 15px;
}

#about_heading1 {
	text-decoration: underline;
}

#about_heading2 {
	text-decoration: underline;
}